:host {
  .grid-container {
    margin: 20px;
  }

  .card {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;

    &.back {
      background-color: silver;
    }
  }

  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .card-content {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
  }
}
